body{ 
    background-color: #ffb6c1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.coração {
    margin: 0 1%;
}
header h1{
   text-align: center; 
   font-size: 100px;
}

.mulheres img{
    display: none;
}

#Kandasse{
    display: flex
}
#resultado{
    text-align: center;
}

button img {
    width: 100%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform .2s; /* Animação */
}

button:hover {
    transform: scale(1.1); /* Zoom ao passar o mouse */
}

@media (max-width: 600px) {
    body {
        background-color: #ffb6c1;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    img, button {
        width: 100%;
    }
    h1 {
        font-size: 50px;
    }
}
